*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
}

ul,
ol {
  list-style: none;
}

input {
  appearance: none;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: grid;
  place-items: end;
  padding: 0 30px;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  gap: 30px;
  block-size: 534px;
  align-items: end;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  inline-size: 100%;
  block-size: 384px;
  position: relative;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__textfield {
  inline-size: 225px;
  block-size: 27px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: -0.2px;
  background-color: #1b1919;
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:focus,
.search-form__label:has(.search-form__textfield:focus:not(:focus-visible)),
.search-form__checkbox:focus,
.search-form__label:has(.search-form__checkbox:focus:not(:focus-visible)),
.button:focus:not(:focus-visible),
.content__card-link:focus:not(:focus-visible) {
  border: none;
}

.search-form__label:has(.search-form__textfield:focus-visible),
.search-form__label:has(.search-form__checkbox:focus-visible),
.button:focus-visible,
.content__card-link:focus-visible {
  border: 2px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  inline-size: fit-content;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text,
.search-form__checkbox:hover
  + .search-form__pseudo-checkbox
  + .search-form__label-text {
  text-decoration: underline;
}

.search-form__pseudo-checkbox {
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
  margin-inline-end: 5px;
  position: relative;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  inline-size: 15px;
  block-size: 15px;
  background-color: #fff;
  position: absolute;
  top: 1px;
  left: 1px;
}

.button {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  transition: transform 0.1s ease;
  inline-size: 100%;
  padding-block-start: 6px;
  padding-block-end: 6px;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: flex-end;
}

.button:hover,
.content__card-link:hover {
  text-decoration: underline;
}

.button:active,
.content__card-link_current {
  background-color: #545050;
}

.content__details {
  inline-size: 100%;
  block-size: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.content__list {
  block-size: 298px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.content__card-link.content__card-link_current {
  display: block;
}

.content__card-link {
  text-decoration: none;
  color: inherit;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  margin: 2px;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 6px;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.content__video-card-description {
  font-size: 18px;
  line-height: 16.2px;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
